/*
   CSS styling examples for the Vaadin app.
   Visit https://vaadin.com/docs/flow/theme/theming-overview.html and
   https://vaadin.com/themes/lumo for more information.
*/
:root {
  --material-primary-text-color: #BEB2C8;
  --material-secondary-text-color: #8D8D92;
}

h1 {
  font-weight: 400;
  font-size: var(--material-h4-font-size);
  color: var(--material-primary-text-color);
  font-family: 'Varta', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: #DEE3E2;
}

.header {
  background-color: #36413E;
  height: 46px;
}

.header > ul {
  position: absolute;
  right: 16px;
  margin: 0;
  padding: 0;
}
